* {
  box-sizing: border-box;
}
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
  border-width: 2px;
  margin: 1px;
}

.square:hover {
  cursor: pointer;
  border-color: aqua;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.selected {
  font-weight: bold;
  color: #999;
  background: #fff;
}

.game-board > div {
  background: aquamarine;
}

li {
  margin-bottom: 5px;
}

li > button {
  border-radius: 2px;
  padding: 5px;
  width: 100%;
}

li > button:hover {
  cursor: pointer;
  border-color: aqua;
  box-shadow: 2px 3px 7px 1px rgba(0,0,0,0.75);
}

.winner {
  background: yellow;
  color: red;
}